<ion-header>
  <ion-toolbar class="ion-padding-top">
    <ion-back-button defaultHref="/account-and-security" slot="start" color="dark"></ion-back-button>
    <ion-title>Email Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="email">
    <ion-icon name="mail-outline" size="large"></ion-icon>
    <ion-label>Your email</ion-label>
    <h2 id="emailId">{{emailId}}</h2>
    <ion-button shape="round" id="btn">Change email</ion-button>
    <h6>You can login with your new email after changing</h6>
  </div>
</ion-content>