ion-content {
  font-size: 0.8em;
}

// Header
h3 {
  font-weight: bold;
}

// Input Field
ion-input {
  border: 1px solid grey;
}

ion-button {
  --background: rgb(235, 91, 39);
  margin: 20px 0;
}

.error {
  color: red;
}

// Login
a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
