<ion-app>
  <ion-content>
    <!-- Logo -->
    <app-logo></app-logo>

    <!-- header -->
    <ion-text class="ion-text-center">
      <h3>Forgot your password?</h3>
      <p>Enter your email below to receive password reset instructions </p>
    </ion-text>

    <!-- Form -->
    <ion-list class="ion-margin">
      <form [formGroup]="forgotForm">

        <!-- Email Input Field -->
        <ion-input class="ion-padding ion-margin-vertical" formControlName="email" type="email"
          placeholder="Registered email ID">
        </ion-input>

        <!-- Email Error -->
        <span class="error"
          *ngIf="forgotForm.controls['email'].touched && forgotForm.controls['email'].errors?.required">Email address is
          required</span>

        <span class="error"
          *ngIf="forgotForm.controls['email'].touched && forgotForm.controls['email'].errors?.email">Email address is
          not in the correct format, try something like 'you@yours.com'</span>

        <!-- Submit Button -->
        <ion-button type="submit" size="block">Send</ion-button>
      </form>

      <!-- Redirect to loginpage -->
      <a routerLink="/login">&#8592; Back to Login Page</a>
    </ion-list>

  </ion-content>
</ion-app>