<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/setting" slot="start" color="dark"></ion-back-button>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card class="ion-no-margin ion-margin-vertical">
    <ion-item lines="none" button>
      <ion-label>Rate Us</ion-label>
    </ion-item>

    <ion-item lines="none" button>
      <ion-label>About HomeMate Smart</ion-label>
    </ion-item>

    <ion-item lines="none" button>
      <ion-label>Privacy Policy</ion-label>
    </ion-item>

    <ion-item lines="none" button>
      <ion-label>User Agreement</ion-label>
    </ion-item>

    <ion-item lines="none" button>
      <ion-label>Open Source Component License</ion-label>
    </ion-item>

    <ion-item lines="none" button>
      <ion-label>Upload Log</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Current Version</ion-label>
      <ion-label slot="end">1.0.0</ion-label>
    </ion-item>

    <ion-item lines="none" button>
      <ion-label>Check for Updates</ion-label>
      <ion-label slot="end">No updates</ion-label>
    </ion-item>

  </ion-card>

</ion-content>
